.ganttHead1, .ganttHead2 {
    height: 20px;
    font-size: 10px;
}

.lineTable, .ganttTable {
    position: relative;
    table-layout: fixed;
    background-color: #ffffff;
    border-spacing: 0px;
    border-collapse: separate !important;
}

.ganttTable td {
    white-space: nowrap;
    overflow: hidden;
    min-width: 30px;
}

.ganttHead1 th {
    border-left: 1px solid #b0b0b0;
    padding: 0;
    margin: 0;
    /* border-right: 1px solid #bbb; */
    border-bottom: 1px solid #bbb;
    white-space: pre-line;
    word-break: break-all;
}

.ganttHead1 th, .ganttHead2 th {
    white-space: nowrap;
    overflow: hidden;
    min-width: 30px;
    text-align: center;
}

.ganttHead2 th {
    padding: 0;
    margin: 0;
    border-left: 1px solid #b0b0b0;
    /* border-right: 1px solid #bbb; */
    border-bottom: 2px solid #bbb;
}

.ganttHead2 th.holy {
    background-color: rgba(236, 195, 176, 0.40);
}

.ganttHead1 th.headSmall, .ganttHead2 th.headSmall {
    font-size: 10px;
}

.line_chart_label {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    width: 44px;
    text-align: right;
}

.lineTable thead, .ganttTable thead {
    background: #313F52;
    color: #ECF0F1;
    position: sticky;
    top: 0;
    z-index: 1;
}

.lineTable tbody tr td, .ganttTable tbody tr td {
    height: 25px;
    border-right: 1px dotted #d0d0d0;
    border-bottom: 1px dotted #d0d0d0;
}

.selected-row {
    background: #b0b0b0 !important;
}

.hover-row {
    background: aliceblue;
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.last-row {
    border-top: 1px double #000 !important;
    border-bottom: 1px double #000 !important;
}

.tooltip {
    width: 300px;
    padding: 0px 10px;
    font-family: Arial, sans-serif;
    font-size: 10pt;
    background-color: white;
    border-radius: 6px;
    position: absolute;
    border: 1px solid #c6c6c6;
    opacity:1;
    transition: all 0.5s;
}

.tooltip p {
    text-align: left;
}


div:focus {
    outline: 4px dotted rgb(253, 43, 43) !important;
    outline-offset: 4px !important;
}

.search-gantt-form {
    width: 400px;
}

div.focus-schedule-box {
    outline: 4px dotted rgb(253, 43, 43) !important;
    outline-offset: 4px !important;
}

.over_tr_row {
    position: absolute;
    width: 100%;
    height: 25px;
    border: 2px solid red;
    z-index: 10;
}

/*================================================ media 1920/1080 ================================================*/
@media (min-width: 1920px) {
    .ganttBox {
        height: 450px !important;
    }
}